<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058315312067-n3abd4jd85rqr33natpkiuqdp6nv9ie5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058315312067-n3abd4jd85rqr33natpkiuqdp6nv9ie5</string>
	<key>API_KEY</key>
	<string>AIzaSyAzCxckKXDS44LCnoDxPzLTypUYwITJAu4</string>
	<key>GCM_SENDER_ID</key>
	<string>1058315312067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digis.OMartinezEcommerce</string>
	<key>PROJECT_ID</key>
	<string>omartinezecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>omartinezecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058315312067:ios:96b63dc57bc5f5880c7b76</string>
</dict>
</plist>